@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Infinite scroll animation*/
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}

@keyframes fly-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hidden-before-scroll {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.animate-fly-in-left {
  opacity: 1;
  transform: translateX(0);
  animation: fly-in-left 1s ease-out forwards;
}
