<section
  class="whitespace-nowrap overflow-x-hidden bg-orange-600 text-white font-bold py-3 px-6"
>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
  >
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
  </div>
  <div
    class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
    aria-hidden="true"
  >
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
    <span>#SINGLEUSESUCKS</span>
  </div>
</section>
