---
import Button from "./Button.astro";
import Link from "../components/Link.astro";
import { useState } from "react";
---

<header class="border-b-3 border-[#2B4872] py-5 px-6 lg:px-0 relative z-20 bg-cream">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center">
      <img src="/logo.svg" alt="Logo" class="h-10" />
    </div>

    <!-- Navigation -->
    <nav class="hidden lg:flex items-center space-x-9 text-[#2B4872]">
      <a href="#vaer-med" class="scroll-link hover:text-orange-500 transition">Vær med</a>
      <a href="#shop" class="scroll-link hover:text-orange-500 transition">Shop</a>
      <a href="#om-os" class="scroll-link hover:text-orange-500 transition">Om os</a>
      <Button />
    </nav>


    <!-- Mobilmenu -->
    <button id="menu-toggle" class="lg:hidden flex flex-col space-y-1">
      <span class="w-6 h-0.5 bg-[#2B4872]"></span>
      <span class="w-6 h-0.5 bg-[#2B4872]"></span>
      <span class="w-6 h-0.5 bg-[#2B4872]"></span>
    </button>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const menuToggle = document.getElementById("menu-toggle");
      const menu = document.getElementById("mobile-menu");

      menuToggle.addEventListener("click", function () {
        menu.classList.toggle("translate-x-full");
      });
    });
  </script>
</header>

